{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}歌手分類選單{% endblock %}

{% block main %}
<div class="container pt-4">
    <div class="row justify-content-center">
        <h1 class="display-5 fw-bold ps-3">
            歌手分類選單
        </h1>
        <div class="col-12">
            <form action={% url 'singers:menu' %} method="post">
                {% csrf_token %}
                <select name="group_query" class="form-select" onChange="form.submit();" aria-label="group_unit_select">
                    <option {% if selected == 'all' %}selected{% endif %} value="all">全選</option>
                    {% for unit in units %}
                    <option {% if selected == unit %}selected{% endif %} value="{{unit}}">{{unit}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="col-12 row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-lg-5 g-5 mt-0">
            {% for vtuber in list %}
            <div class="col">
                <a class="link-dark hover-shadow" href="{% url 'singers:profile' id=vtuber.id %}">
                    <img src="{% static 'img/vtuber_thumbnails/'|add:vtuber.youtube_id|add:'.png' %}"
                        class="img-vtuber img-fluid mx-auto d-block w-100 border border-1 rounded-circle"
                        alt="vtuber圖片">
                    <p class="mt-2 truncate-1 text-center">
                        {{vtuber.name}}
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}