<ul class="pagination d-flex justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一頁</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">上一頁</span></li>
    {% endif %}

    {% for i in page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><span class="page-link"> {{ i }} <span class="sr-only"></span></span></li>
    {% elif i == '…' %}
    <li class="page-item"><a class="page-link" href="?page=1">{{ i }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">下一頁</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">下一頁</span></li>
    {% endif %}
</ul>