<div class="d-flex flex-column align-items-center pt-2 text-white min-vh-100">
    <a href="{% url 'pagehome' %}" class="d-flex align-items-center pb-3 mb-md-0 text-white text-decoration-none">
        <span class="fs-1 d-none d-sm-inline text-break text-center">
            Holo<br>Song<br>Ranker
        </span>
    </a>
    <hr class="d-none d-sm-flex w-100 p-1 bg-light">
    <ul class="nav nav-pills flex-column px-2 px-sm-0 mb-sm-auto pt-3 mb-0 align-items-center align-items-sm-start"
        id="menu">
        <li class="nav-item">
            <a href="{% url 'homepage' %}" class="nav-link align-middle px-0 link-light">
                <i class="fs-3 bi bi-house"></i> <span class="ms-1 d-none d-sm-inline">首頁</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'songs:index' %}" class="nav-link px-0 align-middle link-light">
                <i class="fs-3 bi bi-file-music"></i> <span class="ms-1 d-none d-sm-inline">歌曲</span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0 align-middle link-light">
                <i class="fs-3 bi bi-mic"></i> <span class="ms-1 d-none d-sm-inline">歌手</span></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-0 align-middle link-light">
                <i class="fs-3 bi bi-bar-chart-line"></i> <span class="ms-1 d-none d-sm-inline">比較</span></a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link px-0 align-middle link-light">
                <i class="fs-3 bi bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">控制台</span></a>
        </li>
        <!--dropdown for future use-->
        {% comment %} <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-light">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-0 link-light">
                        <span class="d-none d-sm-inline">Item</span> 1
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0 link-light">
                        <span class="d-none d-sm-inline">Item</span> 2 </a>
                </li>
            </ul>
        </li> {% endcomment %}
    </ul>
    <hr>
    {% comment %} <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div> {% endcomment %}
</div>