{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand navbar-light bg-light py-1 sticky-top border-bottom">
    <div class="container">
        <a href="{% url 'homepage' %}" class="navbar-brand fs-4 pe-3 d-flex align-middle">
            <img class="d-inline-block align-text-top align-middle pe-2" src="{% static 'img/main/shortcut_icon.png' %}"
                alt="intro圖片" style="max-height: 2rem;">
            HoloSongRanker
        </a>
        <ul class="navbar-nav me-auto d-none d-lg-flex flex-row" id="navbar">
            <li class="nav-item btn-outline-light border-0 p-0">
                <a href="{% url 'songs:ranker' %}" class="nav-link d-flex align-items-center">
                    <i class="fs-3 bi bi-file-music"></i>
                    <span class="ms-2">{% translate "歌曲" %}</span></a>
            </li>
            <li class="nav-item btn-outline-light border-0 p-0">
                <a href="{% url 'singers:ranker' %}" class="nav-link d-flex align-items-center">
                    <i class="fs-3 bi bi-mic"></i>
                    <span class="ms-2">{% translate "歌手" %}</span></a>
            </li>
            <li class="nav-item btn btn-outline-light border-0 p-0">
                <a href="{% url 'singers:menu' %}" class="nav-link d-flex align-items-center">
                    <i class="fs-3 bi bi-file-person"></i>
                    <span class="ms-2">{% translate "介紹" %}</span></a>
            </li>
            <li class="nav-item btn btn-outline-light border-0 p-0">
                <a href="{% url 'about' %}" class="nav-link d-flex align-items-center">
                    <i class="fs-3 bi bi-info-circle"></i>
                    <span class="ms-2">{% translate "關於" %}</span></a>
            </li>
            <li class="nav-item btn btn-outline-light border-0 p-0">
                <a href="{% url 'admin:index' %}" class="nav-link d-flex align-items-center">
                    <i class="fs-3 bi bi-speedometer2"></i>
                    <span class="ms-2">{% translate "控制台" %}</span>
                </a>
            </li>
        </ul>
        <a class="nav-link d-none d-sm-flex align-items-center ms-auto" href="https://twitter.com/holosongranker"
            target="_blank">
            <i class="fs-3 bi bi-twitter"></i>
        </a>
        <div class="dropdown ms-auto ms-sm-0">
            <a class="nav-link link-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fs-3 bi bi-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-3">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for lang in languages %}
                <li>
                    <a class="dropdown-item {% if lang.code == LANGUAGE_CODE %} active{% endif %}" href="
                        {% if LANGUAGE_CODE == 'en' %}
                        /{{ lang.code }}/{{request.get_full_path|slice:"4:"}}
                        {% else %}
                        /{{ lang.code }}/{{request.get_full_path|slice:"9:"}}
                        {% endif %}
                        ">
                        {{ lang.name_local }} ({{ lang.code }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <button class="navbar-toggler d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
            aria-controls="sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>