{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}首頁{% endblock %}

{% block styles %}
<style>
    .img-intro {
        max-height: 10vh;
        max-width: auto;
    }

    .img-vtuber {
        max-height: 12vh;
        min-height: 4rem;
        max-width: 12vh;
        min-width: 4rem;
    }
</style>
{% endblock %}

{% block main %}
<section id="intro" class="container-fluid text-center justify-content-center bg-secondary bg-opacity-25 pt-5 pb-5">
    <img class="img-intro" src="{% static 'img/main/shortcut_icon.png' %}" alt="intro圖片">
    <h1 class="display-4 fw-bold pb-3">
        Holo Song Ranker
    </h1>
    <a class="btn btn-primary" href="{% url 'about' %}">了解更多</a>
</section>
<section id="song_rank" class="container-fluid text-center justify-content-center bg-primary bg-opacity-10 p-5">
    <div class="row mx-3 mx-md-5 justify-content-center">
        <div class="col-12 border border-1 border-dark py-3 mb-3">
            <h2 class="fs-3 fw-bold m-0">
                歌曲周榜
            </h2>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 g-md-3 gx-xl-5 mb-3 mt-lg-2">
            {% for record in songrank %}
            <div class="col">
                <div class="card rounded-3 h-100">
                    <a href="{{record.song.youtube_url}}" target="_blank">
                        <img src="{% static 'img/song_thumbnails/'|add:record.song.youtube_id|add:'.png' %}"
                            class="img-fluid card-img-top" alt="影片縮圖">
                    </a>
                    <div class="card-body d-inline-block align-middle p-4">
                        <h2 class="card-title text-info">#{{forloop.counter}}</h2>
                        <p class="card-text fs-5 truncate-2">
                            {{record.song.name}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted m-0">
                            <i class="bi bi-eye"></i>
                            <small>
                                周觀看成長:
                                {{record.weekly_view|intcomma}}
                            </small>
                        </p>
                        <p class="text-muted m-0">
                            <i class="bi bi-calendar-event"></i>
                            <small>
                                發行日期:
                                {{record.song.publish_at|date:"Y/m/d"|naturaltime}}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <p class="float-start">
                    統計時間:{{record_date.song|date:"Y/m/d"|naturaltime}}
                </p>
                <a class="link btn btn-outline-primary float-end" href="{% url 'songs:ranker' %}">查看完整榜單
                </a>
            </div>
        </div>
    </div>
</section>
<section id="singer_rank"
    class="container-fluid text-center justify-content-center bg-info bg-gradient bg-opacity-10 p-5">
    <div class="row mx-3 mx-md-5 justify-content-center mt-3">
        <div class="col-12 border border-1 border-dark py-3 mb-3">
            <h2 class="fs-3 fw-bold m-0">
                歌手周榜
            </h2>
        </div>
        <div class="row row-cols-1 row-cols-xl-2 g-3 mb-3">
            {% for record in singerrank %}
            <div class="col">
                <div class="card h-100 rounded-3">
                    <div class="row g-0 py-2">
                        <div class="col-2 my-auto">
                            <h3 class="fs-2 m-0 text-center text-primary">
                                #{{forloop.counter}}
                            </h3>
                        </div>
                        <div class="col-1 col-md-2 my-auto">
                            <a href="{% url 'singers:profile' id=record.vtuber.id %}">
                                <img src="{% static 'img/vtuber_thumbnails/'|add:record.vtuber.youtube_id|add:'.png' %}"
                                    class="card-img-top img-vtuber img-fluid border border-1 rounded-circle" alt="頻道縮圖">
                            </a>
                        </div>
                        <div class="col-9 col-md-8 my-auto">
                            <div class="card-body mx-4 mx-md-0">
                                <h3 class="card-title truncate-1 text-start">
                                    {{record.vtuber.name}}
                                </h3>
                                <p class="text-end m-0">
                                    <small class="text-muted">
                                        周總觀看數成長:
                                        {{record.total_view_weekly_growth|intcomma}}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <p class="float-start">
                    統計時間:{{record_date.singer|date:"Y/m/d"|naturaltime}}
                </p>
                <a class="link btn btn-outline-primary float-end" href="{% url 'singers:ranker' %}">查看完整榜單
                </a>
            </div>
        </div>
    </div>
</section>
<section id="holo_data" class="container-fluid text-center justify-content-center bg-secondary bg-opacity-10 p-5">
    <div class="row mx-3 mx-md-5 justify-content-center my-3 pb-3">
        <div class="border border-1 border-dark py-3">
            <h2 class="col-12 fs-3 fw-bold m-0">
                HoloLive 全社資料
            </h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-md-3 g-lg-4 mb-3">
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title fw-bold">
                                歌手數
                            </h5>
                            <p class="card-text fs-2 text-primary">
                                {{holodata.singer|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title fw-bold">
                                歌曲數
                            </h5>
                            <p class="card-text fs-2 text-primary">
                                {{holodata.song|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title fw-bold">
                                總觀看數
                            </h5>
                            <p class="card-text fs-2 text-primary">
                                {{holodata.total_view|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title fw-bold">
                                破百萬觀看歌曲數
                            </h5>
                            <p class="card-text fs-2 text-primary">
                                {{holodata.over_million_song|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title fw-bold">
                                破千萬觀看歌曲數
                            </h5>
                            <p class="card-text fs-2 text-primary">
                                {{holodata.over_10_million_song|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title fw-bold">
                                本周總觀看數成長
                            </h5>
                            <p class="card-text fs-2 text-primary">
                                {{holodata.total_weekly_view|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                統計時間:{{record_date.holodata|date:"Y/m/d"|naturaltime}}
            </div>
        </div>
    </div>
</section>
{% endblock %}