{% extends 'partials/base.html' %}
{% load humanize %}
{% block title %}首頁{% endblock %}

{% block styles %}

{% endblock %}

{% block main %}
<section id="intro" class="container-fluid text-center justify-content-center bg-secondary bg-opacity-25 py-5">
    <h1 class="display-5 fw-bold">Holo Song Ranker</h1>
    <p class="fs-4 pt-4">
        簡介
    </p>
</section>
<section id="content" class="container text-center justify-content-center bg-secondary bg-opacity-10 p-5">
    <div class="row mx-3 mx-md-5">
        <div class="col-12 border border-1 border-dark py-3 mb-3">
            <h2 class="fs-3 fw-bold m-0">
                HoloLive 全社資料
            </h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-md-3 g-lg-4">
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title">
                                歌手數
                            </h5>
                            <p class="card-text fs-3 text-primary">
                                {{holodata.singer|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title">
                                歌曲數
                            </h5>
                            <p class="card-text fs-3 text-primary">
                                {{holodata.song|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title">
                                總觀看數
                            </h5>
                            <p class="card-text fs-3 text-primary">
                                {{holodata.total_view|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title">
                                破百萬觀看歌曲數
                            </h5>
                            <p class="card-text fs-3 text-primary">
                                {{holodata.over_million_song|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title">
                                破千萬觀看歌曲數
                            </h5>
                            <p class="card-text fs-3 text-primary">
                                {{holodata.over_10_million_song|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded-pill">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div>
                            <h5 class="card-title">
                                本周總觀看數成長
                            </h5>
                            <p class="card-text fs-3 text-primary">
                                {{holodata.total_weekly_view|intcomma}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}