{% extends 'partials/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Hololive歌曲排行{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
<script>
    $(document).ready(function () {
        if ("{{request.session.songs_view_select}}" == "total_view") {
            $("#date_select").hide();
        } else {
            $("#date_select").show();
        }

        $("#view_select").change(function () {
            $("#select_form").submit();

            if ($(this).val() == "total_view") {
                $("#date_select").hide();
            } else {
                $("#date_select").show();
            }
        });
        $("#date_select").change(function () {
            if ($("#view_select").val() == "weekly_view") {
                $("#select_form").submit();
            }
        });
    });
</script>
{% endblock %}

{% block styles %}
<style>
    .img-vtuber {
        max-width: 4vw;
        min-width: 4rem;
    }

    .img-song {
        max-width: 12vw;
        min-width: 8rem;
    }
</style>
{% endblock  %}

{% block main %}
<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="display-5 fw-bold ps-3 mb-2">
            Hololive歌曲排行
            <button type="button" class="btn text-decoration-underline" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-html="true" title="
                <u>Hololive 歌曲觀看數排行</u><br/>
                <ul class='align-items-start text-start'>
                    <li>更新時間 : 每周日</li>
                    <li>計算方式 : 總觀看數、周觀看成長數</li>
                </ul>
                ">
                榜單規則 <i class="bi bi-info-circle"></i>
            </button>
        </div>
        <div class="col mb-3">
            <ul class="nav nav-pills nav-fill pe-0 pt-3 pt-lg-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold active" id="pills-overview-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-overview" type="button" role="tab" aria-controls="pills-overview"
                        aria-selected="true">總覽</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold" id="pills-bar-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-bar-chart" type="button" role="tab" aria-controls="pills-bar-chart"
                        aria-selected="false">長條圖</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold" id="pills-line-chart-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-line-chart" type="button" role="tab" aria-controls="pills-line-chart"
                        aria-selected="false">折線圖</button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-overview" role="tabpanel"
                aria-labelledby="pills-overview-tab">
                <div class="col pb-3">
                    <form id="select_form" action="{% url 'songs:ranker' %}" method="post" class="input-group">
                        {% csrf_token %}
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                            </svg>
                            排序條件
                        </span>
                        <div class="col-auto me-1">
                            <select id="view_select" name="view_select" class="form-select form-control">
                                <option {% if request.session.songs_view_select == "weekly_view" %}selected
                                    {% elif request.session.songs_view_select == "total_view" %} {% else %} selected
                                    {% endif %} value="weekly_view">
                                    周觀看數
                                </option>
                                <option {% if request.session.songs_view_select == "total_view" %} selected {% endif %}
                                    value="total_view">
                                    總觀看數</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <select id="date_select" name="date_select" class="form-select form-control">
                                {% for date in date_select_list %}
                                <option
                                    {% if forloop.first or request.session.songs_date_select == date|date:"Y/m/d" %}selected{% endif %}
                                    value="{{date|date:"Y/m/d"}}">
                                    {{date|date:"Y/m/d"}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-borderless align-middle">
                        <thead class="border-bottom">
                            <tr>
                                <th class="col-2 col-md-1 text-center" scope="col">排名</th>
                                <th class="col-auto text-center" scope="col" colspan="2">歌曲</th>
                                <th class="col-auto d-none d-md-table-cell text-center" scope="col">
                                    {% if request.session.songs_view_select == 'weekly_view' %}
                                    周觀看數
                                    {% elif request.session.songs_view_select == 'total_view' %}
                                    總觀看數
                                    {% else %}
                                    周觀看數
                                    {% endif %}
                                </th>
                                <th class="col-2 d-none d-xl-table-cell text-center" scope="col">歌手</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                            <tr id="row_{{forloop.counter}}">
                                <th class="text-center" scope="row">
                                    <span class="fs-3">
                                        {% widthratio records.number 1 10 as counter %}#{{ counter|add:"-10"|add:forloop.counter }}
                                    </span>
                                </th>
                                <td>
                                    <a href="{{record.song.youtube_url}}" target="_blank">
                                        <img class="img-song img-fluid shadow" src="{{record.song.thumbnail_url}}"
                                            alt="歌曲縮圖">
                                    </a>
                                </td>
                                <td class="ps-2 px-md-4">
                                    <p class="fs-5 truncate-2">
                                        {{record.song.name}}
                                    </p>
                                    <p class="fs-6 text-secondary mb-0">
                                        <i class="bi bi-calendar-event"></i>
                                        {{record.song.publish_at|date:"Y/m/d"|naturaltime}}
                                    </p>
                                </td>
                                <td class="d-none d-md-table-cell text-center text-primary">
                                    <span class="fs-5">
                                        {% if request.session.songs_view_select == 'weekly_view' %}
                                        {{ record.weekly_view|intcomma }}
                                        {% elif request.session.songs_view_select == 'total_view' %}
                                        {{ record.total_view|intcomma }}
                                        {% else %}
                                        {{ record.weekly_view|intcomma }}
                                        {% endif %}
                                    </span>
                                </td>
                                <td class="d-none d-xl-table-cell text-center">
                                    <div id="carousel_vtuber_{{forloop.counter}}"
                                        class="carousel carousel-dark slide mx-3" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for vtuber in record.song.singer.values %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <a class="link-dark" href="{% url 'singers:profile' id=vtuber.id %}">
                                                    <img src="{% static 'img/vtuber_thumbnails/'|add:vtuber.youtube_id|add:'.png' %}"
                                                        class="img-vtuber img-fluid mx-auto d-block w-100 border border-1 rounded-circle"
                                                        alt="vtuber圖片">
                                                    <div class="d-none d-md-block">
                                                        <p class="mt-2 truncate-1">
                                                            {{vtuber.name}}
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% if record.song.singer.values.count != 1 %}
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carousel_vtuber_{{forloop.counter}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">前一位</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carousel_vtuber_{{forloop.counter}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">後一位</span>
                                        </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    {% include 'partials/pagination.html' with page_obj=records %}
                </div>
            </div>
            <div class="tab-pane fade" id="pills-bar-chart" role="tabpanel" aria-labelledby="pills-bar-chart-tab">
                <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/9992351">
                    <script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-line-chart" role="tabpanel" aria-labelledby="pills-line-chart-tab">
                <div class="flourish-embed flourish-chart" data-src="visualisation/9992733">
                    <script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}